@import '../../../../assets/variables.less';

.form-wrap {
    & input {
        border: 1px solid @input-bdr;
        border-radius: 5px;
        font-size: 15px;
        padding: 4px 11px;
        margin: 5px 0;
        width: 176px;
    }

    .form-item {
        display: flex;
        align-items: center;
    }

    .form-del {
        height: 18px;
        margin-left: 10px;
        cursor: pointer;
    }

    .form-add {
        width: 176px;
        border: 1px dashed @input-bdr;
        border-radius: 5px;
        margin: 5px 0;
        padding: 4px 11px;
        text-align: center;
        cursor: pointer;
    }

    .form-add:hover {
        border: 1px dashed @active;
    }
}