.tool-wrap {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 15px;

    .react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track,
    .react-toggle--checked .react-toggle-track {
        background-color: #000;
    }

    .react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track,
    .react-toggle .react-toggle-track {
        background-color: rgba(0, 0, 0, .6);
    }

    .toggle-item {
        width: 16px;
        height: 16px;
        pointer-events: none;
        margin-top: -2px;
    }
}