@import '../../assets/variables.less';

.themeStyle(@theme) {
    @textColor: "@{theme}-text";
    @bgColor: "@{theme}-bg";
    @inputBgColor: "@{theme}-input-bg";
    @btnTextColor: "@{theme}-hollow-btn-text";

    color: @@textColor;
    background-color: @@bgColor;

    & input {
        background-color: @@inputBgColor;
        color: @@textColor;
    }

    .form-add {
        color: @btnTextColor;
    }
}

.fontStyle(@type) {
    @fSize: "@{type}-font-size";

    font-size: @@fSize;

    & input {
        font-size: @@fSize;
    }
}

.flag-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    & p {
       margin: 15px 0; 
    }

    &[mode='dark'] {
        .themeStyle('dark')
    }

    &[mode='light'] {
        .themeStyle('light')
    }

    &[fonsize='small'] {
        .fontStyle('small')
    }

    &[fonsize='medium'] {
        .fontStyle('medium')
    }

    &[fonsize='big'] {
        .fontStyle('big')
    }

    .flag-bg {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
    }

    &[fonsize='huge'] {
        .fontStyle('huge')
    }
}

.list-wrap {
    position: relative;
    z-index: 0;
}