@import '../../assets/variables.less';

.themeStyle(@theme) {
    @textColor: "@{theme}-text";
    @bgColor: "@{theme}-bg";
    @inputBgColor: "@{theme}-input-bg";
    @formBgColor: "@{theme}-form-bg";
    @btnTextColor: "@{theme}-hollow-btn-text";

    color: @@textColor;
    background-color: @@bgColor;

    & input {
        background-color: @@inputBgColor;
        color: @@textColor;
    }

    .form-add {
        color: @btnTextColor;
    }

    .list-wrap {
        background-color: @@formBgColor;
    }
}

.fontStyle(@type) {
    @fSize: "@{type}-font-size";

    font-size: @@fSize;

    & input {
        font-size: @@fSize;
    }
}

.boxBgStyle(@type) {
    @pad: "@{type}-pad";

    .list-wrap {
        padding: @@pad;
    }
}

.flag-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    & p {
       margin: 15px 0; 
    }

    .flag-bg {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;        
        background-size: cover;
        // object-fit: cover;
    }

    &[mode='dark'] {
        .themeStyle('dark')
    }

    &[mode='light'] {
        .themeStyle('light')
    }

    &[fonsize='small'] {
        .fontStyle('small')
    }

    &[fonsize='medium'] {
        .fontStyle('medium')
    }

    &[fonsize='big'] {
        .fontStyle('big')
    }

    &[fonsize='huge'] {
        .fontStyle('huge')
    }

    &[boxbg='narrow'] {
        .boxBgStyle('narrow')
    }

    &[boxbg='wide'] {
        .boxBgStyle('wide')
    }

    &[boxbg='default'] {
        .list-wrap {
            background-color: transparent;
            padding: 0;
        }
    }
}

.list-wrap {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 0;
    width: 100%;
}