@input-bdr: #5e5e5e; //border
@active: #0099e0; 

@btn-bg: #2f54eb;
@btn-active: #1d39c4;

@msg-info-bdr: #91d5ff;
@msg-success-bdr: #b1ec83;
@msg-warn-bdr:#ffe58f;
@msg-error-bdr: #f89187;

@msg-info-bg: #e6f7ff;
@msg-success-bg: #edfddc;
@msg-warn-bg:#fffbe6;
@msg-error-bg: #fcdfda;

@title: rgb(116, 116, 116);
@option-text: rgb(53, 53, 53);
@option-bd: #ddd;

// font size type
@small-font-size: 15px;
@medium-font-size: 17px;
@big-font-size: 19px;
@huge-font-size: 21px;

// box bg type
@narrow-pad: 20px 0;
@wide-pad: 40px 0;

// dark theme
@dark-bg: #282c35;
@dark-input-bg: rgba(0, 0, 0, .7);
@dark-form-bg: rgba(0, 0, 0, .3);
@dark-title: #FFF;
@dark-text: rgba(255,255,255,0.88);
@dark-hollow-btn-text: rgba(255,255,255,0.66); 

// light theme
@light-bg: #fff;
@light-input-bg: rgba(241, 241, 241, .7);
@light-form-bg: rgba(241, 241, 241, .3);
@light-title: #222;
@light-text: #222;
@light-hollow-btn-text: rgba(34,34,34,0.88); 