@import './assets/variables.less';

body {
    margin: 0;
    scroll-behavior: smooth;

    // 点击出现蓝框
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

img:focus,
input:focus {
    outline: none;
}

.app-wrap {
    margin: 0 auto;
    max-width: 22rem;

    // 平板 或 手机
    &[plat='mobile'] {
        max-width: 100%;
    }
}

.wp-wrap {
    // 网页
    position: relative;
    height: 39rem;
    box-shadow: 0 0 15px 1px #aaa;
}

.app-wrap[plat='mobile'] .wp-wrap {
    height: 100vh;
    box-shadow: none;
}